{% extends 'base.html' %}
{% block content %}

<div class="card shadow-sm p-4">
    <h4 class="custom-header mb-4">Системен регистър</h4>
    {% include 'pagination_control.html' %}

    <form method="get" class="input-group mb-4">
        <input type="text" name="q" class="form-control" placeholder="Търси по потребител, действие, модул и/или описание..." value="{{ query }}">
        <button type="submit" class="btn btn-outline-primary me-2">🔍 Търси</button>
        <a href="{% url 'logs:log-list' %}" class="btn btn-outline-danger me-2">✖ Изчисти</a>
        <a href="?q={{ request.GET.q }}&export=1" class="btn btn-outline-success ms-2">📤 Excel</a>

    </form>

<table class="table table-striped">
<thead>
  <tr>
    <th>Дата/Час</th><th>Потребител</th><th>Действие</th><th>Модул</th><th>No</th><th>Описание</th>
  </tr>
</thead>

<tbody>
  {% for log in logs %}
  <tr>
    <td>{{ log.timestamp }}</td>
    <td>{{ log.user }}</td>
    <td>{{ log.get_action_display }}</td>
    <td>{{ log.model_name }}</td>
    <td>{{ log.object_id }}</td>
    <td>{{ log.description }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
<p>

</p>
{% include "pagination.html" with page_obj=page_obj %}
</div>
{% endblock %}
