{% extends 'base.html' %}
{% block content %}

<div class="card shadow-sm p-4">
    <div class="text-center mb-3">
         <h4 class="custom-header">
            {% if object %}Редакция на новина {% else %}Добавяне на новина{% endif %}
        </h4>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">Заглавие</label>
            {{ form.title }}
        </div>

        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}" class="form-label">Съдържание</label>
            {{ form.content }}
        </div>

        <div class="form-check mb-3">
            {{ form.is_active }}
            <label for="{{ form.is_active.id_for_label }}" class="form-check-label">
                Активна новина
            </label>
        </div>
    <button type="submit" class="btn btn-primary">Запиши новината</button>
    </form>
    <p>

    </p>
    <div>
        <a href="{% url 'news:news_list' %}" class="btn btn-outline-primary">⬅️ Назад към списъка</a>
    </div>
</div>
{% endblock %}