{% if is_paginated %}
<nav class="d-flex justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&per_page={{ request.GET.per_page }}">Назад</a>
            </li>
        {% endif %}
        {% for num in paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}&per_page={{ request.GET.per_page }}">{{ num }}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&per_page={{ request.GET.per_page }}">Напред</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
