{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card shadow-sm p-4">
  <div class="card shadow-sm p-4">
    <h4 class="custom-header">Регистър на изготвените анекси</h4>

      {% include 'pagination_control.html' %}

    <form method="get" class="d-flex flex-wrap align-items-end gap-2 mb-4">
      <input type="text" name="request_number" value="{{ filters.request_number }}" class="form-control w-auto" placeholder="Заявка №">
      <input type="text" name="eik" value="{{ filters.eik }}" class="form-control w-auto" placeholder="ЕИК">
      <input type="text" name="contract_number" value="{{ filters.contract_number }}" class="form-control w-auto" placeholder="Договор №">

      <button type="submit" class="btn btn-outline-primary">🔍 Търси</button>
      <a href="{% url 'annexes:annex_archive' %}" class="btn btn-outline-danger">✖ Изчисти</a>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Заявка №</th>
          <th>Клиент</th>
          <th>ЕИК</th>
          <th>Договор №</th>
          <th>Анекс №</th>
          <th>Дата на генериране</th>
          <th>Изпълнител</th>
          <th>Линк</th>
        </tr>
      </thead>
      <tbody>
        {% for annex in annexes %}
        <tr>
          <td>{{ annex.request.request_number }}</td>
          <td>{{ annex.request.client.name }}</td>
          <td>{{ annex.request.client.eik }}</td>
          <td>{{ annex.request.loan_agreement.contract_number }}</td>
          <td>{{ annex.annex_number }}</td>
          <td>{{ annex.created_at|date:"d.m.Y H:i" }}</td>
          <td>{{ annex.request.maker.get_full_name|default:annex.request.maker.username }}</td>
          <td>
            <a href="{{ annex.file_path.url }}" target="_blank" class="btn btn-outline-primary mb-2">Преглед</a>
            <a href="{% url 'api:send_annex' pk=annex.id %}" class="btn btn-outline-success mb-2">За подпис</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8" class="text-center">Няма анекси по зададените критерии.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>

    </p>
    {% include "pagination.html" with page_obj=page_obj %}

  </div>
</div>
{% endblock %}
