{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h4 class="custom-header mb-4">Номенклатура градове</h4>

    <div class="text-start mb-3">
        <a href="{% url 'nomenclatures:nomenclature_list' %}" class="btn btn-outline-primary mb-2">⬅️ Назад</a>
    </div>
{% include 'pagination_control.html' %}
<p>

</p>
    <!-- Търсене -->
    <form method="get" class="input-group mb-4">
        <input type="text" name="q" class="form-control" placeholder="Търси по тип име на града" value="{{ query }}">
        <input type="hidden" name="per_page" value="{{ per_page }}">
        <button type="submit" class="btn btn-outline-primary me-2">🔍 Търси</button>
        <a href="{% url 'nomenclatures:town_list' %}" class="btn btn-outline-danger">❌ Изчисти</a>
    </form>

    <ul class="list-group">
        {% for t in towns %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    {{ t.name }} — <strong>{{ t.is_active|yesno:"Активен,Неактивен" }}</strong>
                </div>
                <form method="post" action="{% url 'nomenclatures:toggle-nomenclature-status' 'town' t.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary" title="Смени статус"><-></button>
                </form>
            </li>
        {% empty %}
            <li class="list-group-item">Няма въведени градове.</li>
        {% endfor %}
    </ul>
</div>
     {% include "pagination.html" with page_obj=page_obj %}
{% endblock %}

