{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card shadow-sm p-4">
    <h4 class="custom-header"> Преглед на клиентите</h4>

    {% include 'pagination_control.html' %}

    <form method="get" class="mb-3 d-flex justify-content-end">
        <input type="text" name="search" value="{{ search_query }}" class="form-control me-2" placeholder="Търси по ЕИК или име">
        <button type="submit" class="btn btn-primary me-2 d-flex align-items-center">
            <span class="me-1">🔍</span> Търси
        </button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ЕИК</th>
                <th>Име</th>
                <th>Град</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.eik }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.town }}</td>
                <td>
                    {% if client.is_active %}
                      <span class="badge bg-success">Активен</span>
                    {% else %}
                      <span class="badge bg-secondary">Неактивен</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{% url 'clients:edit' client.pk %}" class="btn btn-sm btn-outline-primary">✏️ Редакция</a>
                    <form method="post" action="{% url 'clients:deactivate' client.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm"
                                onclick="return confirm('Наистина ли искате да деактивирате този клиент?');">
                            🗑️ Деактивация
                        </button>
                    </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<p>

</p>
{% include "pagination.html" with page_obj=page_obj %}
</div>
{% endblock %}
