{% extends 'base.html' %}
{% block content %}

<div class="card shadow-sm p-4">
<h4 class="custom-header">Обработка на заявки (В процес на работа)</h4>

    <form method="get" class="mb-3">
     <label for="executor" class="form-label">Изберете изпълнител:</label>
     <select name="executor" id="executor" class="form-select" onchange="this.form.submit()">
       <option value="all" {% if selected_executor == 'all' %}selected{% endif %}>Всички</option>
       {% for user in executors %}
         <option value="{{ user.id }}" {% if selected_executor == user.id|stringformat:"s" %}selected{% endif %}>
           {{ user.get_full_name|default:user.username }}
         </option>
       {% endfor %}
     </select>
    </form>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Заявка №</th>
          <th>Клиент</th>
          <th>ЕИК</th>
          <th>Договор №</th>
          <th>Вид документ</th>
          <th>Изпълнител</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for req in requests %}
          <tr>
            <td>{{ req.request_number }}</td>
            <td>{{ req.client.name }}</td>
            <td>{{ req.client.eik }}</td>
            <td>{{ req.loan_agreement.contract_number }}</td>
            <td>{{ req.get_document_type_display }}</td>
            <td>{{ req.maker.get_full_name|default:req.maker.username }}</td>
            <td><a href="{% url 'requests:request_detail' req.pk %}" class="btn btn-sm btn-outline-primary">🔍 Преглед</a></td>
          </tr>
        {% empty %}
          <tr><td colspan="6">Няма заявки.</td></tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
